body {
    width: 100%;
    margin: auto;
    background-color: rgb(38, 39, 80);
}

.shub {
    margin: auto;
    width: 600px;
    font-style: italic;
    font-size: larger;
    color: rgb(197, 123, 115);
}

.shub-img {
    width: 200px;
    border-radius: 50%;
}

.first {
    background-color: rgb(116, 129, 156);
    border-radius: 5%;
}

p {
    font-size: medium;
}

.H {
    color: navajowhite;
}